# Modelado de Predicción de Demanda

- Agrupar ventas por semana y producto.
- Crear una serie de tiempo para cada categoría o producto clave.
- Usar un modelo simple como LinearRegression p Prophet para prever la demanda semanal.
- Visualizar la proyección para la próxima semana (por categoría o producto).

In [10]:
import pandas as pd
from sqlalchemy import create_engine, text
import seaborn as sns
import matplotlib.pyplot as plt

## Creando conexión a la base de datos

In [11]:
engine = create_engine('mysql+pymysql://root:leon1824@localhost:3306/coffee_aurora')

## Haciendo el DataFrame para el modelo

In [12]:
query = text("""
    SELECT
        nombre_producto,
        categoria,
        precio_unitario,
        cantidad,
        total_venta,
        fecha
    FROM
        productos
    INNER JOIN ventas ON productos.producto_id = ventas.producto_id
""")

In [13]:
df_sales = pd.read_sql(query, engine)
df_sales

,nombre_producto,categoria,precio_unitario,cantidad,total_venta,fecha
0,Café Americano,Café,2.0,3,6.0,2024-01-01
1,Café Americano,Café,2.0,3,6.0,2024-01-01
2,Café Americano,Café,2.0,2,4.0,2024-01-01
3,Café Americano,Café,2.0,3,6.0,2024-01-02
4,Café Americano,Café,2.0,3,6.0,2024-01-02
...,...,...,...,...,...,...
2402,Capuchino,Café,2.7,1,2.7,2024-04-29
2403,Capuchino,Café,2.7,3,8.1,2024-04-30
2404,Capuchino,Café,2.7,1,2.7,2024-04-30
2405,Capuchino,Café,2.7,2,5.4,2024-04-30
2406,Capuchino,Café,2.7,3,8.1,2024-04-30

## Corrigiendo el DataFrame

In [16]:
df_sales['fecha'] = pd.to_datetime(df_sales['fecha'])
df_sales['fecha'].dtype

dtype('<M8[ns]')

In [17]:
df_sales

,nombre_producto,categoria,precio_unitario,cantidad,total_venta,fecha
0,Café Americano,Café,2.0,3,6.0,2024-01-01
1,Café Americano,Café,2.0,3,6.0,2024-01-01
2,Café Americano,Café,2.0,2,4.0,2024-01-01
3,Café Americano,Café,2.0,3,6.0,2024-01-02
4,Café Americano,Café,2.0,3,6.0,2024-01-02
...,...,...,...,...,...,...
2402,Capuchino,Café,2.7,1,2.7,2024-04-29
2403,Capuchino,Café,2.7,3,8.1,2024-04-30
2404,Capuchino,Café,2.7,1,2.7,2024-04-30
2405,Capuchino,Café,2.7,2,5.4,2024-04-30
2406,Capuchino,Café,2.7,3,8.1,2024-04-30

## Creando el modelo

In [22]:
# Creamos la columna semana porque la necesitaremos
df_sales['semana'] = df_sales['fecha'].dt.isocalendar().week

In [23]:
df_sales.groupby('semana')['cantidad'].sum()

semana
1     272
2     292
3     296
4     254
5     291
6     304
7     221
8     286
9     241
10    322
11    277
12    260
13    305
14    273
15    283
16    320
17    309
18     98
Name: cantidad, dtype: int64